@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none; 
}

body {
    background-image: url(../images/body-image.jpg);
    background-size: cover;
    background-position: center center;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: 'Quattrocento', serif;
}
/* header */
h1 {
    text-align: center;
    margin: 30px;
    font-size: 80px;
    text-shadow: -7px 0px 8px #F08784, 8px 0px 7px #e7e7e7;
}

nav {
    /* flex-direction: row; */
    justify-content: center;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.menu a {
    width: 85px;
    background-color: #F08784;
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
    margin: 20px;
    font-weight: 650;
    text-decoration: none;
    border-radius: 15px;
    color: #474749;
    text-align: center;
}

#page {
    background-color: #474749;
    border: 1.5px solid #F08784;
    color: #FFFFFF;
}


/* game area */

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

#quiz-box {
    background-color: #FFFFFF;
    width: 500px;
    height: auto;
    margin: 25px;
    border-radius: 35px;
    font-size: large;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 1px 10px 7px #f08784;
    border: 0.5px solid #7F7F7F;
}

.text {
   width: 90%;
   text-align: center;
   margin: 20px;
   font-size: 25px;
}

.questions {
    height: 280px;
    border-radius: 35px;
    border: 1px solid #7F7F7F;
    margin: 20px;
    width: 90%;
}

#grey-btn {
    display: block;
    background-color: #474749;
    color: #FFFFFF;
    padding: 20px;
    margin: 20px auto 10px;   
    border-radius: 15px;
    font-size: 20px;
    font-weight: 400;
}

/* footer */

.copyright {
    font-size: small;
    text-align: center;
    padding-bottom: 25px;
    color: #FFFFFF;
}

/* game page */

#info-box {
    justify-content: space-between;
    display: flex;
    margin: auto 50px;
    padding: 15px;
}

/* media queries */

@media screen and (max-width:950px) {
   h1 {
    font-size: 70px;
   }
}

@media screen and (max-width:650px) {
    #quiz-box {
        width: auto;
    }

    .menu a {
        margin: 15px;
        padding: 15px;
    }
}

